@font-face {
  font-family: 'Upheaval';
  src: url('./fonts/upheavtt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VHSGothic';
  src: url('./fonts/vhsgothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {

  font-family: 'VHSGothic';
  
  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #000000;
}


section {
  position: relative; /* Garante que o ::before fique sobre o background */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: background-image 1s ease-in-out;
  background-size: cover;
  background-position: center;
  min-height: 1080px;
  overflow: hidden; /* Evita problemas de layout */
}

/* Criando um overlay escuro sobre o background */
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Ajuste o último valor para mais ou menos escuro */
  z-index: 1;
}

/* Garante que o conteúdo continue visível acima do overlay */
section > * {
  position: relative;
  z-index: 2;
}

header,
main,
footer,
section {

  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
 





}

section {
  animation: fromBottom .9s backwards;
}


@keyframes fromBottom {
  from {
      opacity: 0;
      transform: translateY(100px)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}

.degradeNovo {
  background: linear-gradient(90deg, 
  #e52320, #ee7316, #f1e30d, #79b929, #32778c, #234999, #452879, #e52320);
  background-size: 400% 400%;
  height: 4px;
  width: 50vw;
  animation: hueShift 5s linear infinite;
}

@keyframes hueShift {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}


.titulo{

  font-size: 30px;
  color: red;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-top: 10px;


}

@keyframes gradientLoop {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.titulo{
  background: linear-gradient(90deg, 
      #e52320, #ee7316, #f1e30d, 
      #79b929, #32778c, #234999, 
      #452879, #e52320);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  display: inline-block;
  animation: gradientLoop 10s linear infinite;
}