@font-face {
  font-family: 'Upheaval';
  src: url('./fonts/upheavtt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VHSGothic';
  src: url('./fonts/vhsgothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {

  font-family: 'VHSGothic';
  
  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}





section {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: background-image 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  
  overflow: hidden; /* Evita problemas de layout */
}


.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardStand {
  position: relative;
  border-radius: 1px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 320px;
  background-color: var(--bgDark);
  overflow: hidden;
}

.cardStand::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, 
    #e52320, #ee7316, #f1e30d, 
    #79b929, #32778c, #234999, 
    #452879, #e52320, #ee7316, #f1e30d);
  background-size: 300% 100%;
  animation: moveGradient 8s linear infinite;
}

@keyframes moveGradient {
  0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}


.swiper-button-next,
.swiper-button-prev {
  background: linear-gradient(90deg, #e52320, #f1e30d);
  background-size: 200%;
  background-position: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;
  transition: background-position 0.5s ease;
  animation: moveGradient 3s linear infinite;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}

/* Animação suave do degradê se movendo */





.cardStand img {

  width: 100%;
  height: auto;

  object-fit: fill;
  object-position: top;
  border-radius: 10px;



}

.cardStand div {

  padding: 15px;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;


}

.cardStand h1 {

  color: white;
  width: 96%;
  font-size: 1.5rem;
}



.cardStand p,
.cardStand h2 {

  color: #D1BFA7;
  font-size: 1rem;
}

@keyframes animateGradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.botaoEvento, .botaoVerTodos {
  color: #ffffff;
  font-weight: bold;
  margin: 10px 0 30px 0;

  width: 110px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid #ffffff;

  background-color: transparent;
  background-size: 300% 100%;
  background-repeat: no-repeat;
  background-position: left center;

  transition: color 0.5s ease, border-color 0.5s ease;
}

.botaoEvento:hover, .botaoVerTodos:hover {
  background-image: linear-gradient(90deg, 
    #e52320, #ee7316, #f1e30d, 
    #79b929, #32778c, #234999, 
    #452879, #e52320);

  background-size: 300% 100%;
  animation: moveGradient  5s linear infinite;
  color: white;
  border-color: transparent;
}

/* Adicione isso ao seu CSS */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1; /* Isso faz com que o conteúdo ocupe todo o espaço disponível */
  display: flex;
  flex-direction: column;
}

.containerTelaTodosCards {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start; /* ou 'center' dependendo do que você prefere */
  gap: 30px; /* Espaço entre os cards */
  
}

.containerConteudoSolo{
  flex: 1;
  display: flex;
  flex-direction:  column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;

  color: white;

  max-width: 1100px;
  margin: 0 auto;

  text-align: center;

}

.containerConteudoSolo img{
  align-self: center;
  margin-top: 10px;
  width: 90%;
  height: auto;
  


}

.containerConteudoSolo h1{
  font-size: 2.4rem;
  color: #D1BFA7;
}

.containerConteudoSolo h2{
  font-size: 1.6rem;
  
}




.containerConteudoSolo p{
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
  text-align: justify;
  text-align-last: center; 
  


}



.titleApresent{
  margin: 30px 0;
  width: 100%;
  text-align: center;
  
}



:root {

  --verdeClaro: #72c000;
  --verdeEscuro: #467700;
  --bgDark: #121212;
  --bgDarkLess: #202123;
  --fontWhite: #EEEEEE;


}


.imgSlider {

  width: 500px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;

}

.ajustar {
  display: grid;
  place-items: center;
}

.swiperMaster {
  margin-top: 10px;
  width: 80vw;
  z-index: 1;
  min-width: 320px;
  max-width: 1920px;

}



@media only screen and (max-width: 1024px) {

  .swiperMaster {

      width: 90vw;



  }


  .degrade {


      width: 90vw;




  }

  .degradeHome{
      width: 90vw;
      
      
  }

  .cardStand {
    flex-basis: 100%;
    width: 200px;
    height: auto;
  }


  .containerConteudoSolo img{
    width: 100%;
    /* vai pegar 100% do container pai */
    height: auto;
    


  }

  .containerConteudoSolo{
    text-align: center;
    width: 90%;
  }

  .containerConteudoSolo p{

    letter-spacing: 0px;

    
  }



}



@media only screen and (max-width: 1024px) {

  





}





/* section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}


section > * {
  position: relative;
  z-index: 2;
} */

header,
main,
footer,
section {

  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: black;
 





}

section {
  animation: fromBottom .9s backwards;
}


@keyframes fromBottom {
  from {
      opacity: 0;
      transform: translateY(100px)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}

.degradeNovo {
  background: linear-gradient(90deg, 
  #e52320, #ee7316, #f1e30d, #79b929, #32778c, #234999, #452879, #e52320, #ee7316);
  background-size: 400% 400%;
  height: 4px;
  width: 75vw;
  animation: hueShift 5s linear infinite;
  margin-bottom: 10px;
}

.maior {
  width: 90vw;
}

@keyframes hueShift {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}


.titulo{

  font-size: 35px;
  
  
 


}

@keyframes gradientLoop {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.titulo, footer{
  background: linear-gradient(90deg, 
      #e52320, #ee7316, #f1e30d, 
      #79b929, #32778c, #234999, 
      #452879, #e52320, #ee7316);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  display: inline-block;
  animation: gradientLoop 10s linear infinite;
}






.mainTelaStand img {
    max-width: 1100px;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    object-fit: fill;

    border-bottom: 1px solid var(--verdeClaro);





}




.containerEvento {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    width: 1100px;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;

    border: 1px solid var(--verdeClaro);
    border-radius: 0px;
    min-height: 100vh;


}

.containerEvento img {

    max-width: 1100px;
    width: 1099px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 0px 20px 0px 20px;
    object-position: top;



}

.containerEvento h1 {
    overflow-wrap: break-word;
    color: var(--verdeClaro);
    text-align: center;
    word-break: break-all;
    margin-top: 20px;
    font-size: 35px;




}


.pExpo {

    color: rgb(255, 255, 255);



    width: 96%;
    text-align: center;
    line-height: 40px;



    font-size: 20px;

    margin: 15px 0;



}





@media only screen and (max-width: 1024px) {



    .mainTelaStand img {

        height: auto;
    }

    .mainTelaStand{
        height: auto;
    }

    .standTexto {
        height: 80vh;
    }

    


    .containerEvento {

        justify-content: flex-start;



    }

    .containerEvento img {


        width: 95vw;
        object-fit: contain;
        height: 250px;

    }

    .containerEvento {

        width: 100%;



    }

    .containerEvento h1 {

        width: 95%;


    }


}


