/* Container principal */
.container-apoio-imagens {
    display: flex;
    
    flex-wrap: wrap;
    width: 70%;

    gap: 35px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;

    filter: grayscale(0%); /* Imagens em preto e branco */
    margin: 20px 0;
    

    
}

.container-apoio-imagens img {
    width: 150px;
    height: auto;
    /* mantém a proporção original */
    object-fit: contain;
    /* garante que a imagem se ajuste ao espaço sem distorcer */
    aspect-ratio: 3 / 2;
    transition: transform 0.3s ease, filter 0.3s ease;



}

.logo-master img{
    width: 160px;
    
}

.logo-evento img{
    width: 120px;
}

.container-apoio-imagens img:hover{
    transform: scale(1.1);
}


/* Animação de rolagem horizontal */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move o conteúdo para a esquerda */
    }
}