* {

    font-weight: 500;
    font-style: normal;



}

header {
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
    background-color: var(--bgDark);

    background-image: url('../../img/nav-back.jpg');
    background-size: fill; /* Faz a imagem cobrir todo o espaço */
    background-position: center;
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, 
    #e52320, #ee7316, #f1e30d, #79b929, #32778c, #234999, #452879, #e52320);
    background-size: 400% 400%;
    animation: hueShift 5s linear infinite;
}

  
  @keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
  }




nav a {

    margin: 0 2rem;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    

}

@keyframes moveGradient {
    0% { filter: hue-rotate(0deg); }
      100% { filter: hue-rotate(360deg); }
  }


nav a:hover {
    background-image: linear-gradient(90deg, 
      #e52320, #ee7316, #f1e30d, 
      #79b929, #32778c, #234999, 
      #452879, #e52320);
  
    background-size: 300% 100%;
    animation: moveGradient  5s linear infinite;
    color: white;
    border-color: transparent;
    padding: 12px;
    border-radius: 8px;
  }

header img {

    width: 120px;



}

header .nav-btn {

    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--verdeClaro);
    display: none;
    opacity: 0;
    font-size: 1.5rem;



}




@media only screen and (max-width: 1024px) {

    header .nav-btn {
        
        display: block;
        opacity: 1;
        


    }

    header nav {

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--bgDark);
        color: var(--bgDark);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 999;


    }

    header .responsive_nav{

        transform: none;        

    }

    header .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;


    }

    nav a{
        font-size: 1.5rem;
    }


}