



/* main {

  background-image: url('../../img/bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;

} */

.degrade {

  background-image: linear-gradient(to right, var(--verdeEscuro), #00ff00);
  height: 3px;
  width: 50vw;

}





.container-geral {



  width: 10%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;



}

.alteracao {

  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;



}

h1 {

  color: white;
  margin: 0 auto;
}