@keyframes typing {
    0% { width: 0 }
    63% { width: 100% }
    100% { width: 100% }
}
  
@keyframes blink-caret {
50% { border-color: transparent; }
}

.containerTexto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin-left: 6px;   
    
}

.containerLogo{

    width: 50%;
}


.containerTexto h1{
    /* font-family: 'Upheaval'; */
    font-size: 65px;


    
}

.icon-date-calendar h2 a{
    color: white;
}

/* .logoGrande {
    animation: scale 1s infinite alternate;
  }
  
  @keyframes scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  } */


  .containerTexto a {
    background: linear-gradient(90deg, 
        #e52320, #ee7316, #f1e30d, 
        #79b929, #32778c, #234999, 
        #452879, #e52320);
    background-size: 180% auto; /* Faz o degradê cobrir mais espaço, suavizando a transição */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: inline-block;
    transition: background-position 0.5s ease-in-out;
}

.containerTexto a:hover {
    background-position: 100% 0; /* Movimento sutil ao passar o mouse */
}


.containerTexto h2{
    font-size: 25px;
}


.mainHome{

    display: flex;
    flex-direction: wrap;    
    
    
}

.calendario{

    width: 50px;
}

.logoGrande{
    width: 90%
}


/* doidica */

.icon-date-calendar img{
    width: 20px;
}



.icon-date-calendar{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 8px 0;


}

/* Definindo a animação de carregamento com loop */
@keyframes loadEffectLoop {
    0% {
        opacity: 0.1;
        filter: blur(5px) grayscale(100%);
        transform: scale(0.9) rotate(0.6deg);
    }
    50% {
        opacity: 1;
        filter: blur(0) grayscale(0%);
        transform: scale(1.1) rotate(-1.5deg);
    }
    60% {
        opacity: 1;
        filter: blur(0) grayscale(0%);
        transform: scale(1.1) rotate(-1.5deg);
    }
    100% {
        opacity: 0.1;
        filter: blur(5px) grayscale(100%);
        transform: scale(0.9) rotate(0.6deg);
    }
}

/* Aplicando a animação à logo */
.logoGrande {
    animation: loadEffectLoop 5s ease-in-out infinite; /* Duração, suavização e loop */
    display: inline-block;
}

  

@media only screen and (max-width: 1024px) {

    
    .mainHome{
        display: flex;
        flex-direction: column;
        
        min-height: 700px;
        justify-content: center;
        align-items: center;

    }

    .containerLogo, .containerTexto{
        width: 100%;
    }

    .containerTexto{
        width: 95%;
    }

    

    .containerTexto h1{
        font-size: 48px;
        text-align: center;
        width: 100%;
    }

    .logoGrande{
        width: 95%;
    }



}